.home-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-large);
    
  }

  .main-title {
    font-size: 24px;
  }

.main-start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto 0 auto; /* 上部に余白を追加 */
    width: fit-content;
    text-align: center;
    gap: 32px 0px;
  }
  